* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 100%;
  background-color: #000000;
  color: #ffffff;
}

@keyframes fadeIn {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
